body{
    background-image:url("BG.jpeg");
    background-color:lightseagreen;
    font-family: 'Courier New', Courier, monospace;

}

.instruction {
    color: whitesmoke;
}

.crystals{
    display: flex;
    justify-content:space-around;
    margin:20px;
    align-items:center;
   

}

.crystal{
    border:2px solid black;
    height:200px;
    width:200px;
    float:center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-color:black;

}

images{
    width:200px;
    height:200px;
    

}